body{
    width: 1280px;
    background-color: brown;
    font-family: 'Lato', sans-serif;
}



h1{
    font-size: 60px;
}

h2{
    font-size: 47px;
}

h3{
    font-size: 40px;
}

p{
    font-size: 20px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: #00cbd6;
    width: 1280px;
}



.hamburguesa{
    margin-left: 100px;
}


.linea{
    width: 34px;
    height: 4px;
    background-color: #F39E46;
    transition: transform 0.3s ease;
    border-radius: 111px;
    border: solid #ffffff 4px;
    margin: 0;
    box-shadow: 6px 5px 0px 0px #02197d;
}

.btn-compra{
    width: 200px;
    height: 50px;
    border-radius: 111px;
    background-color: #83C252;
    border: solid #ffffff 8px;
    box-shadow: 4px 4px 0px 0px #02197d;
    margin-right: 100px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.none{
    display: none;
}

.parallax1{
    width: 1280px;
    height: 960px;
}


.parallax1 img , .parallax2 img{
    position: absolute;
}

.logo{
    left: 360px;
    top: 55px;
}

.arbol1{
    z-index: 3;
    left: -153px;
    top: -1px;
}

.arbusto{
    z-index:2;
    top: 717px;
    left: 161px;
}

.arbusto1{
    z-index:5;
    top: 821px;
    left: 197px;
}

.piedraIzq{
    z-index: 4;
    left: 129px;
    top: 793px;
}

.robot3{
    left: 752px;
    top: 338px;
}

.robot2{
    left: 536px;
    top: 426px;
}

.robot1{
    left: 411px;
    top: 527px;
}

.arbol2{
    left: 881px;
    top: 106px;
    z-index: 3;
}

.arbol3{
    left: 1080px;
    top: 278px;
    z-index: 1;
}

.arbusto2{
    left: 1080px;
    top: 661px;
    z-index: 2;
}

.arbusto3{
    left: 1028px;
    top: 630px;
}



/*             PARALLAX2                      */


.parallax2{
    width: 1280px;
    height: 894px;
}

.TituloP2{
    width: 508px;
    height: 132px;
    left: 100px;
    top: 1014;
    position: absolute;
    color: #1B428F;
}

.TextoP2{
    position: absolute;
    width: 704px;
    height: 154px;
    left: 100px;
    top: 1168px;
    color: #1B428F;
}

.robot5{
    left: 787px;
    top: 867px;
}

.robot4{
    left: 48px;
    top: 1491px;
}

.CarruselP2{
    width: 576px;
    height: 324px;
    left: 236px;
    top: 1290px;
    position: absolute;
    border-radius: 77px;
    border:solid 29px #1B428F;
    background-image: url("imagenes/parallax2/carrusel1.png");
    background-size: contain;
}


/*             PARALLAX3                     */

.parallax3{
    width: 1280px;
    height: 958px;
    background-color: #9fb3b4;
}

.parallax3 .imgParallax3{
    width: 333px;
    height: 303px;
    position: absolute;
    border-radius: 41px;
    border:solid 9px #2982FF;
    background-size: cover;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.img1P3{
    left: 100px;
    top: 2174px;
    background-image: url("imagenes/parallax3/img1P3.png");
}

.img2P3{
    left: 473px;
    top: 2174px;
    background-image: url("imagenes/parallax3/img2P3.png");
}


.img3P3{
    left: 847px;
    top: 2174px;
    background-image: url("imagenes/parallax3/img3P3.png");
}

.parrafo{
    width: 333px;
    height: 218px;
    top: 2500px;
    position: absolute;
    text-align: left;
}


.ParrafoImg1P3{
    left: 100px;
   
}

.ParrafoImg2P3{
    left: 474px;
}

.ParrafoImg3P3{
    left: 847px;
}



/* ///////// PARALLAX 4 //////////// */

.parallax4{
    margin-top: 24px;
    width: 1280px;
    height: 1218px;
    background-image: url("imagenes/parallax4/fondovioleta.png");
    background-size: cover;
    
}

.tituloP4 {
    width: 950px;
    height: 153px;
    left: 165px;
    margin-top: 175px;
    position: absolute;
    color: white;
    text-align: center;
}

.tituloP4>h1>span {
    font-weight: bold;
    font-style: italic;
}


.btnP4 {
    margin-top: 62px;
    width: 540px;
    height: 66px;
    border-radius: 111px;
    background-color: #83C252;
    position: absolute;
    left: 370px;
    top: 3220px;
    font-size: 31px;
    color: white;
    box-shadow: 4px 5px 0px 8px #02187E;
    outline: 8px solid white;
}

.parallax4>img {
    margin-top: 450px;
    position: absolute;
}


/* ////////// PARALLAX 5 /////////// */


.parallax5{
    width: 1280px;
    min-height: 1000px;
    background-color: aliceblue;
}
.parallax5>h1 {
    margin-left: 100px;
    top: 4161px;
    position: absolute;
}

.imagenes-scroll {
    margin-top: 68px;
    left: 243px;
    top: 4286px;
    position: absolute;
}
.container-flex {
    display: flex;
    flex-direction: row;
}
.texto-scroll {
    margin-top: 68px;
    position: absolute;
    left: 713px;
    top: 4377px;
    height: 180px;
    width: 467px;
}

.texto-scroll>div>h3{
    margin: 0px;
    font-weight:400;
    white-space: nowrap; 
}



.texto-scroll>div {
    margin-bottom: 267px;
}



/* //////// PARALLAX 6 */

.parallax6{
    width: 1280px;
    height: 1000px;
    background-color: yellow;
}