
body {
    width: 1280px;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 47px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    width: 1279px;
    transition: background-color 1.2s ease;
}


.off-screen-menu {
    height: 50vh;
    position: fixed;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 20;
}

.off-screen-menu.active {
    left: 20px;  
}

.off-screen-menu ul{
    list-style: none;
    margin-left: -40px;
}


.off-screen-menu ul li{
    display: flex;
    align-items: center;
    background-color: #88de7c;
    margin: 5px;
    text-transform:capitalize;
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 111px;
    padding-left: 20px;
}


nav{
    padding: 1rem;
    display: flex;
    margin-left: 100px;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-right: auto; /* Alinea el menú al lado izquierdo */
    position: relative;
    cursor: pointer;
}

.ham-menu span{
    width: 34px;
    height: 4px;
    background-color: #F39E46;
    border: solid #ffffff 4px;
    border-radius: 111px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: transform 0.7s ease;
    box-shadow: 6px 5px 0px 0px #02197d;
}




.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0px 0px 0px 0px;
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: 0px 0px 0px 0px;
}




/* Aplica la animación solo cuando el ítem tiene la clase .animate */
.off-screen-menu ul li.animate {
    opacity: 0; /* No visibles inicialmente */
    transform: translateX(-100px); /* Comienzan desplazados a la izquierda */
    animation: slide-in 1s forwards;
    animation-delay: calc(var(--index) * 1s);
}




/* Keyframes para la animación de entrada */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* BOTON */

.btn-animacion3 {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    background-color: #83C252;
    outline: solid #ffffff 8px;
    box-shadow: 4px 5px 0px 8px #02197d;
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-right: 100px;
    border-style: none;
    /*hasta aca las cosas que tenia el boton pedido*/

    transition: all 500ms ease;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: block;
}


.btn-animacion3:hover {
    background-color: #ff6f1c;
    outline: solid #7becf0 8px;
    box-shadow: 0 0 40px #f31717, 0 0 40px #f31717, 0 0 40px #f31717;
    color: #000000;
}





/*  STICKY */

.sticky{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1280px;
    z-index: 20;
}

/* Logo pequeño, oculto inicialmente */
.logo-small {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo-small-block{
    display: block;
    opacity: 1;
}

/* Estilos cuando se hace scroll (clase shrink) */
.logo_img.achicar {
    transform: scale(0.5);      /* reduce el tamaño del elemento */
    opacity: 0;
}


/* PARALAXS */

main {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* PARALAX 1/2 */
.main_page {
    top: 0;
    left: 0;
    width: 100%;
    height: 1854px;
    background-image: url("imagenes/parallax1/fondoLayer1.png"), url("imagenes/parallax2/FondoP2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 100% auto;
}


.logo_img {
    position: absolute;
    width: 550px;
    height: 320px;
    top: 55px;
    left: 350px;
    animation: spawnTop .4s ease-out;
    transition: transform 0.3s ease, opacity 0.3s ease;    /* le da el efecto a la hora de esconderse */
}

.arbol_izq {
    position: absolute;
    top: -1px;
    left: -153px;
    z-index: 15;
    animation: spawnLeft 1.5s ease-out;
}

.arbol_der1 {
    width: 434.21px;
    height: 672.52px;
    position: absolute;
    top: 106.71px;
    right: -35.24px;
    z-index: 16;
    animation: spawnRight 1.5s ease-out;
}

.arbol_der2{
    position: absolute;
    width: 278.03px;
    height: 430.85px;
    top: 278.38px;
    right: -79px;
    z-index: 15;
    animation: spawnRight 1.2s ease-out;
}

.piedra_izq {
    position: absolute;
    width: 145.41px;
    height: 78.09px;
    top: 793.37px;
    left: 129.07px;
    z-index: 16;
    animation: spawnLeft .7s ease-out;
}

.bush_izq1 {
    position: absolute;
    width: 249.76px;
    height: 114.44px;
    top: 717.97px;
    left: 161.38px;
    z-index: 14;
    animation: spawnLeft 1s ease-out;
}

.bush_izq2 {
    position: absolute;
    width: 155.51px;
    height: 102.33px;
    top: 821.65px;
    left: 197.06px;
    z-index: 17;
    animation: spawnLeft .5s ease-out;
}

.piedra_der1 {
    position: absolute;
    width: 66.65px;
    height: 56.55px;
    top: 737.5px;
    right: 183.35px;
    z-index: 17;
    animation: spawnRight 1.2s ease-out;
}

.piedra_der2 {
    position: absolute;
    width: 59.24px;
    height: 35.01px;
    top: 786.64px;
    right: 170.76px;
    z-index: 19;
    animation: spawnRight .4s ease-out;
}

.piedra_der3 {
    position: absolute;
    width: 113.77px;
    height: 74.05px;
    top: 737.5px;
    right: 94px;
    z-index: 18;
    animation: spawnRight .6s ease-out;
}

.bush_der1 {
    position: absolute;
    width: 191.19px;
    height: 63.28px;
    top: 630.46px;
    right: 60.35px;
    z-index: 14;
    animation: spawnRight 1.2s ease-out;
}

.bush_der2 {
    position: absolute;
    width: 244.37px;
    height: 107.71px;
    top: 662.1px;
    right: -45.34px;
    z-index: 15;
    animation: spawnRight 1.2s ease-out;
}

.figura_1 {
    position: absolute;
    top: 507px;
    left: 411px;
    z-index: 15;
    animation: spawnTop .3s ease-out;
}

.sombra_figura_1 {
    position: absolute;
    top: 749px;
    left: 468px;
}

.figura_2 {
    position: absolute;
    top: 400px;
    left: 536px;
    z-index: 14;
    animation: spawnTop 1.1s ease-out;
}

.sombra_figura_2 {
    position: absolute;
    top: 709px;
    left: 586px;
}

.figura_3 {
    position: absolute;
    top: 340px;
    left: 691px;
    z-index: 13;
    animation: spawnTop .6s ease-out;
}

.sombra_figura_3 {
    position: absolute;
    top: 683px;
    left: 705px;
}


.figura_4 {
    position: absolute;
    width: 601.64px;
    height: 543.24px;
    top: 1550.76px;
    left: 48px;
    z-index: 15;
}

.figura_5 {
    position: absolute;
    width: 572px;
    height: 1259px;
    top: 867px;
    right: -79px;
    animation: spawnTop 1.2s ease-out;
}


.informacion {
    font-family: Lato;
    text-align: left;
    color: rgba(27, 66, 143, 1);
    position: absolute;
    top: 978px;
    left: 100px;
    display: flex;
    flex-direction: column;
}

.informacion h3 {
    font-size: 47px;
    font-weight: 600;
    line-height: 44.41px;
    width: 508px;
    height: 132px;
    margin-bottom: 1px;
}

.informacion p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 704px;
    height: 154px;
}


.CarruselInfo {
    position: absolute;
    width: 518px;
    height: 266px;
    left: 236px;
    top: 1329px;
    border-radius: 77px;
    border: solid 29px #1B428F;
    overflow: hidden; /* Oculta las imágenes fuera del contenedor */
}

.CarruselInfo ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 400%; /* Ajusta el ancho según el número de imágenes */
    animation: slideCarruselInfo 12s infinite alternate ease-in-out;
}

.CarruselInfo li {
    width: 100%;
    list-style: none;
}

.CarruselInfo img {
    width: 100%;
    height: auto;
}

@keyframes slideCarruselInfo {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}


@keyframes spawnTop {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: initial;  /* vuelve a la pos inicial */
    }
}

@keyframes spawnLeft {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: initial; /* vuelve a la pos inicial */
    }
}

@keyframes spawnRight {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: initial; /* vuelve a la pos inicial */
    }
}




/*  PARALLAX 3  */

.parallax3{
    position: relative;
    width: 1280px;
    height: 853px;
}
.container{
    position: absolute;
    z-index: 10;
}

.containerCuadros , .containerTexto{
    display: flex;
    justify-content:space-around;
}

.containerCuadros{
    margin-top: 250px;
}

.cuadro{
    width: 333px;
    height: 303px;
    border-radius: 41px;
    opacity: 0; /* Por defecto, las imágenes están completamente transparentes */
    transition: opacity 3s ease-in-out;
    border: solid 9px #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
}


.texto{
    width: 333px;
    height: 218px;
    opacity: 0; /* Por defecto, los textos están completamente transparentes */
    padding-right: 40px;
    transition: opacity 3s ease-in-out;
    text-align: left;
    font-size: 20px;
}

.containerTexto{
    display: flex;
    flex-direction: row;
}




/* PARALAX 4 */

/* DOWLOAD SECTION */

.parallax4 {
    height: 1157px;
    width: 100%;
    background-image: url("imagenes/parallax4/fondovioleta.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: center;
    color: white;
    overflow: hidden;
}

.tituloP4 {
    width: 950px;
    height: 153px;
    left: 165px;
    margin-top: 170px;
    position: absolute;
    color: white;
    text-align: center;
}

.tituloP4>h1 {
    font-size: 60px;
    font-weight:600;
}

.tituloP4>h1>span {
    font-weight: bold;
    font-style: italic;
}

.btnP4 {
    width: 540px;
    height: 66px;
    border-radius: 111px;
    background-color: #83C252;
    position: absolute;
    margin-left: 370px;
    margin-top: 405px;
    font-size: 31px;
    color: white;
    box-shadow: 4px 5px 0px 8px #02187E;
    outline: 8px solid white;
}



#characters {
    margin-top: 390px;
    position: relative;
    transition: transform 0.1s ease-out;
    /* Suaviza el movimiento */
    justify-content: center;
}


/*  ////// PARALLAX 5 //////// */



.parallax5 {
    width: 1280px;
    height: 1100px;
}

.parallax5>h1 {
    margin-left: 100px;
    margin-top: 160px;
    position: absolute;
}

.imagenes-scroll {
    margin-top: 333px;
    left: 165px;
    position: relative;
}

.imagenes-scroll img{
    position: absolute;
    opacity: 0;
    transition: opacity 1.4s ease;
}

.imagenes-scroll img.img0{
    opacity: 1;
}

.container-flex {
    display: flex;
    flex-direction: row;
    height: 750px;
}

.texto-scroll {
    margin-top: 420px;
    position: absolute;
    left: 713px;
    height: 303px;
    width: 467px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.texto-scroll>div>h3 {
    margin: 0px;
    font-weight: 400;
}

.texto-scroll>div {
    margin-bottom: 140px;
}

.none {
    display: none;
}


/* ///////// PARALLAX p6 //////// */

.parallax6 {
    height: 1444px;
    width: 100%;
    background-image: url("imagenes/parallax6/fondoP6.png");
    background-position: center;
    overflow: hidden;
}

.tituloP6 {
    width: 802px;
    height: 171px;
    margin-top: 250px;
    margin-left: 100px;
    position: absolute;
    color: white;
}

.tituloP6>h1 {
    font-weight: 600;
}


iframe{
    position: absolute;
    margin-top: 544px;
    left: 100px;
    border: 29px solid white;
    border-radius: 45px;
}

.robot3P6 {
    position: absolute;
    left: 740px;
    margin-top: 352px;
}


/* //////// PARALLAX 7 */


.parallax7 {
    width: 1280px;
    height: 1046px;
}

.robot1P7 {
    position: absolute;
    left: 660px;
    margin-top: 20px;
}

.TituloP7 {
    width: 746px;
    height: 285px;
    margin-left: 102px;
    margin-top: 150px;
    position: absolute;
    color: #9D2121;
}

.textoP7 {
    width: 467px;
    height: 190px;
    margin-left: 102px;
    margin-top: 560px;
    position: absolute;
}



/* ///////// PARALLAX8 //////// */

.parallax8 {
    height: 729px;
    width: 100%;
    background-image: url("imagenes/parallax8/fondoRobots.png");
    background-size: cover;
    margin-bottom: 190px;
}

.container-personajes{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 29px;
    z-index: 0;
}

.personajes{
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.personajes:hover{
    transform: scale(1.1); /* Agranda la imagen al 110% */
    filter: brightness(1.5); /* Aumenta el brillo para iluminar */
}


.personaje1{
    width: 252px;
    height: 375px;
}

.personaje2{
    width: 233px;
    height: 375px;
}

.personaje3{
    width: 237px;
    height: 375px;
}

.personaje4{
    width: 230px;
    height: 375px;
}

.personaje5{
    width: 230px;
    height: 375px;
}


.personaje6{
    width: 250px;
    height: 325px;
}

.personaje7{
    width: 232px;
    height: 325px;
}

.personaje8{
    width: 237px;
    height: 325px;
}

.personaje9{
    width: 227px;
    height: 325px;
}

.personaje10{
    height: 325px;
    width: 220px;
}




/* //////// PARALLAX 9 */
.parallax9 {
    position: relative;
    height: 1296px;
    background-image: url("imagenes/parallax9/fondo1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: center;
}


.fondo2P9 {
    position: absolute;
    margin-top: 910px;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}

.layer-10 {
    background-image: url("imagenes/parallax9/nube1.png");
    animation: move-clouds 20s infinite linear;
    left: 794px;
    margin-top: 243px;
}

.layer-9 {
    background-image: url("imagenes/parallax9/nube2.png");
    animation: move-clouds 15s infinite linear;
    left: 962px;
    margin-top: 286px;
}

.layer-8 {
    background-image: url("imagenes/parallax9/nube3.png");
    animation: move-clouds 10s infinite linear;
    left: 864px;
    margin-top: 545px;
}


/* Animación de movimiento infinito */
@keyframes move-clouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1280px); /* Ajusta el rango según el ancho del viewport */
    }
}


.r2P9 {
    position: absolute;
    left: 65px;
    margin-top: 774px;
}

.r3P9 {
    position: absolute;
    left: 407px;
    margin-top: 745px;
    width: 509px;
    height: 509px;
}

.r7P9 {
    position: absolute;
    left: 756px;
    margin-top: 339px;
    width: 561px;
    height: 997px;
}

.teen {
    position: absolute;
    left: 100px;
    margin-top: 375px;
}


.tituloP9 {
    position: absolute;
    width: 816px;
    height: 171px;
    left: 100px;
    top: -150px;
}


.form {
    position: absolute;
    z-index: 1;
    left: 100px;
    margin-top: 123px;
    display: flex;
    align-items: center;
    width: 762px;
    height: 82px;
    border: 9px solid #FFFFFF;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 4px 5px 0px 0px #02187E;
    background-color: white;
}


.form-input {
    flex: 1;
    height: 100%;
    border: none;
    padding: 0 20px;
    font-size: 1.2em;
    background-color: #ECECEC;
    outline: none;
    margin-right: 5px;
}

.btn-form {
    background-color: #83C252;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 30px;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.textoP9{
    width: 597px;
    height: 95px;
    position: absolute;
    z-index: 1;
    left: 100px;
    margin-top: 241px;
}

.textoP9>p>span {
    text-decoration: underline;
}


/* //////// FOOTER */
footer {
    width: 1280px;
    height: 700px;
    background-color: #5E5E5D;
}

.imgfooter1{
    width: 1280;
    height: 80px;
    background-color: #242424;
    display: flex;
    justify-content: center;
}
.imgfot1 {
    width: 1080px;
}

.textofooter {
    width: 820px;
    height: 361px;
    position: absolute;
    left: 100px;
    margin-top: 25px;
}

.textofooter>p, .textofooter>a {
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
}

.textofooter>a {
    margin-right: 5px;
}

.redesfooter {
    position: absolute;
    left: 100px;
    margin-top: 546px;
}


#dino {
    /* Tamaño de la viñeta individual */
    width:112px;
    height:156px;
    margin-left: 500px;
    margin-top: 398px;
    /* Centramos el elemento */
    /* Cargamos el sprite sin repetir */
    background: url("imagenes/footer/sprite3.png") repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 8 viñetas y repetimos infinitamente */
    animation: caida .8s steps(8) infinite;
}

/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes caida {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-916px }
}


#mago {
    width:128px;
    height:156px;
    background: url("imagenes/footer/sprite2.png") repeat-x;
    animation: fuego .8s steps(14) infinite;
    margin-top: 468px;
}


@keyframes fuego {
    0% { background-position:0 }
    100% { background-position:-1792px }
}


#magoOscuro {
    width:128px;
    height:156px;
    background: url("imagenes/footer/sprite1.png") repeat-x;
    animation: capucha .8s steps(9) infinite;
    margin-top: -145px;
    margin-left: 1150px;
}

@keyframes capucha {
    0% { background-position:0 }
    100% { background-position:-1152px }
}

.sprite {
    position: absolute;
    z-index: 1;
}
.s3 {
    left: 50%;
    margin-top: 300px;
}







/* /////// LOADERRRRR //////// */

/* Fondo semitransparente detrás del loader */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); 
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/******** SPINNER DE CARGA ********/

.container{
    position: fixed;
    z-index: 100;
    top: 10%;
    left: 30%;
    transition: opacity 0.75s, visibility 0.75s;
}

.container--hidden {
    opacity: 0;
    visibility: hidden;
}


.container .loader{
    width: 150px;
    height: 150px;
    border: solid 20px #2E6E63;
    border-top: solid 20px #3FE03F;
    border-radius: 50%;
    animation: loader .8s linear infinite;

}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.container .message{
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%, -50%);
    animation: message 1s alternate infinite ease-in-out;
    font-size: 25px;
}


@keyframes message {
    0%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}


.line-box{
    padding: 2px;
    width: 300px;
    height: 20px;
    border: 2px solid #267591;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: -60px;
}

.line-box .line {
    height: 20px;
    border-radius: 20px;
    background: #67D295;
    animation: loading 5s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.robot3{
    transform: translateX(600px);
    z-index: 100;
    position: absolute;
    top: 500px;
    left: 0px;
}

.overlay--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s, visibility 0.75s;
}